{% extends "base.html" %}
<!-- templates/home.html -->
<!DOCTYPE html>
 <!-- questa è la pagina per gli utenti loggati -->
    {% block title %}logout{% endblock %}

    {% block content %}
    <div class="container"> 
    {% if user.is_authenticated %}
    Hi {{ user.username }}!
        <form action="{% url 'logout' %}" method="post"> <!--cerca il name "logout" nel file urls.py\mysite-->
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
    {% endif %}
    {% endblock %}
    </div>